<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="completeBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="completeBinding1" />
                <binding name="integration_servicesBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="integration_servicesBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php"
                binding="basicHttpBinding" bindingConfiguration="completeBinding"
                contract="AriaComplete.completePort" name="completePort" />
            <endpoint address="https://secure.future.stage.ariasystems.net/api/AriaQuery/objects.php"
                binding="basicHttpBinding" bindingConfiguration="integration_servicesBinding"
                contract="AriaObjectQuery.integration_servicesPort" name="integration_servicesPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
