<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp0296AC7BAE6FCB2D2B69C4A251C0C12D" Guid="*">
                <File Id="fil8C8B945F21927F217A93A8FBEC010D62" KeyPath="yes" Source="$(var.ProjectDir)\AccountInfo.aspx" />
            </Component>
            <Component Id="cmp52EAA3398BCEA92DB7FDAAB0A0E1574B" Guid="*">
                <File Id="fil5787A910B9354FB0D58A15B5BBA54E45" KeyPath="yes" Source="$(var.ProjectDir)\AccountInfo.aspx.cs" />
            </Component>
            <Component Id="cmp692BF55900F0FE5B2223D75EDEE10D21" Guid="*">
                <File Id="filA4B21F69C184E9379C92EBDC1679F647" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountConfirmation.aspx" />
            </Component>
            <Component Id="cmpBB698E6730BACC45E913175B76E0577D" Guid="*">
                <File Id="filBC9BA2EBB42015B4BB472714C692B9A2" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountConfirmation.aspx.cs" />
            </Component>
            <Component Id="cmp6699F702FD28D9C131E8D49EE80B0C32" Guid="*">
                <File Id="filF99591053BF1340F82F1B8C727A0C342" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountInfo.aspx" />
            </Component>
            <Component Id="cmpAAAAC18989224BFFEC9B5620DD8B5AA0" Guid="*">
                <File Id="fil9941130AAB5F3E3119D8CA7070A1EE87" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountInfo.aspx.cs" />
            </Component>
            <Component Id="cmp18C3FAAAEDB3785C8DBC71DE5A83682F" Guid="*">
                <File Id="fil5F0B526D7BC02CEAA48D54C4FF1E9754" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountPaymentInformation.aspx" />
            </Component>
            <Component Id="cmpC9A921FA4623F62656099D36C8F3F4A6" Guid="*">
                <File Id="fil522EAAAC3E6C5944E0780CB163E82C76" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountPaymentInformation.aspx.cs" />
            </Component>
            <Component Id="cmpF62CD54B327FE3A8EE3091E0F3E0DAF9" Guid="*">
                <File Id="fil6FE10855F176C97F5F006A8808E19372" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountPlanInfo.aspx" />
            </Component>
            <Component Id="cmp3C8BF58B6288BF91F167AA1916A0B817" Guid="*">
                <File Id="fil13A6FF24983A7F5D3344C749A730A3E9" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountPlanInfo.aspx.cs" />
            </Component>
            <Component Id="cmpAA248860724BE19AE14577968D9157C8" Guid="*">
                <File Id="fil717ED1F40F1A8CADD8C80EB9B06A5AFC" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountReview.aspx" />
            </Component>
            <Component Id="cmp46E8FD28E3B60A4B2AA77E350D1B2547" Guid="*">
                <File Id="filBD4AEF9F9B0669A3AB373612156275B1" KeyPath="yes" Source="$(var.ProjectDir)\AddAccountReview.aspx.cs" />
            </Component>
            <Component Id="cmpC8C03605E31B9A91B62EB9E7FF77C71F" Guid="*">
                <File Id="fil1B7A6C12D6CEA135843272A0077F9B69" KeyPath="yes" Source="$(var.ProjectDir)\ForgotPassword.aspx" />
            </Component>
            <Component Id="cmp7DF79267571CDFCC1064C11840A7BCE8" Guid="*">
                <File Id="fil486AAEC4CE176C2A8EC7BA704447ECE1" KeyPath="yes" Source="$(var.ProjectDir)\ForgotPassword.aspx.cs" />
            </Component>
            <Component Id="cmp55CCE577FA6E73819D46C04BD951411F" Guid="*">
                <File Id="filEA21E3F8D62452203652B7072D451475" KeyPath="yes" Source="$(var.ProjectDir)\Login.aspx" />
            </Component>
            <Component Id="cmp674F1B91194F171A88F994DEBDD78172" Guid="*">
                <File Id="filF414E553ABFFB930EC8A4F6AC93E8CE2" KeyPath="yes" Source="$(var.ProjectDir)\Login.aspx.cs" />
            </Component>
            <Component Id="cmp00DD3B2685C9299804D43A1BD9270360" Guid="*">
                <File Id="filEF30870CE812C5CBCD1056D021CE2262" KeyPath="yes" Source="$(var.ProjectDir)\LoginNavigationControl.ascx" />
            </Component>
            <Component Id="cmp7C65F777F0950BF90FE4F3D11E2B7F85" Guid="*">
                <File Id="fil9C19B33EF70406EADD840E501517AD4A" KeyPath="yes" Source="$(var.ProjectDir)\LoginNavigationControl.ascx.cs" />
            </Component>
            <Component Id="cmp62A4BC433793F7263CC285E8B3A6137C" Guid="*">
                <File Id="fil91F75D07C0621B7F958E5DCECAEDED07" KeyPath="yes" Source="$(var.ProjectDir)\Logout.aspx" />
            </Component>
            <Component Id="cmpA0157F897BC27E2CD6BF610415E875CC" Guid="*">
                <File Id="filEF37B75FEFB2FF6256DEB63306935E27" KeyPath="yes" Source="$(var.ProjectDir)\Logout.aspx.cs" />
            </Component>
            <Component Id="cmp415F99BE8E80CE9D80F1259B9E24389F" Guid="*">
                <File Id="fil068A0B13A8A8AF483F7C8306EEF608B7" KeyPath="yes" Source="$(var.ProjectDir)\StateProvinceControl.ascx" />
            </Component>
            <Component Id="cmp527421DA57438F37AB23B71B6310AB37" Guid="*">
                <File Id="fil602CECA3A16B658CE4A7D3BC6EC4F1D3" KeyPath="yes" Source="$(var.ProjectDir)\StateProvinceControl.ascx.cs" />
            </Component>
            <Component Id="cmpC38F645C0DA65F7269F24587748D4B5B" Guid="*">
                <File Id="fil88868B93CFBD5AE0E07D248195E020D1" KeyPath="yes" Source="$(var.ProjectDir)\USS.aspx" />
            </Component>
            <Component Id="cmpF03F5732910BCE6522E3D844F7AD50BD" Guid="*">
                <File Id="filF3EF6A1DA6606497FDDDEA8573A3E2E0" KeyPath="yes" Source="$(var.ProjectDir)\USS.aspx.cs" />
            </Component>
            <Component Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" Guid="*">
                <File Id="fil8994620207C22CA15AF75ACDD6420C79" KeyPath="yes" Source="$(var.ProjectDir)\Web.config" />
            </Component>
            <Directory Id="dirE33A933FA832941B3FCA7C3D4157DA0F" Name="App_Code">
                <Component Id="cmpCFC896C3269C0D124A5AF9F59ECE416A" Guid="*">
                    <File Id="fil16F776EE2BB18CF2B7FD5F57DE5F5C4E" KeyPath="yes" Source="$(var.ProjectDir)\App_Code\ConfigFactory.cs" />
                </Component>
                <Component Id="cmpA4FA2D91D536224950473E89134A57BD" Guid="*">
                    <File Id="fil1C3E1FB1D9C99D3EBC43791A5901D801" KeyPath="yes" Source="$(var.ProjectDir)\App_Code\LoginLogout.cs" />
                </Component>
                <Component Id="cmpCAA1E6F5844D39F9C86BF6313A9DEEDB" Guid="*">
                    <File Id="fil8A9898AB2001DCABC19849F7402867CF" KeyPath="yes" Source="$(var.ProjectDir)\App_Code\SessionSupport.cs" />
                </Component>
            </Directory>
            <Directory Id="dir72B2AC1E076649A12C76D9E110CA254C" Name="App_Themes">
                <Component Id="cmp3A39C921961BC158DD30A583FACF9111" Guid="*">
                    <File Id="fil9141D74E7AE41EAA4BFCA68730CF1273" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\layout.css" />
                </Component>
                <Component Id="cmpED8B09EA9FDF49CB3C1165BDD8BC926C" Guid="*">
                    <File Id="filC9FAFEB7F09BD36855103BAECB46E31A" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\main.css" />
                </Component>
                <Component Id="cmpE83DC31D0250BB22AD12CBD1D61A76E7" Guid="*">
                    <File Id="filE6974C8A4A431D411DDBDB0D63A4A59B" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\uss.css" />
                </Component>
                <Directory Id="dir298B727DDD7FEDE7146BF4F2C5B4E155" Name="images">
                    <Component Id="cmpA2757F3CECA8969A028A7C47156BE38B" Guid="*">
                        <File Id="fil64B95EC930E07209876AF85FB73F05AF" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\accept.png" />
                    </Component>
                    <Component Id="cmpD61DE23B6C3570055C8D42C9765A22EA" Guid="*">
                        <File Id="fil5DC120FD68140B25D4F49563EE88E951" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\aria_logo.gif" />
                    </Component>
                    <Component Id="cmp597DDC96957539188BE8F963F4275BC3" Guid="*">
                        <File Id="filCD3402E62F7C362F201627E43CBC40E6" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_bottom_250.gif" />
                    </Component>
                    <Component Id="cmpE2E126DB7FCECB345EFAAC0AE9534314" Guid="*">
                        <File Id="fil2CB15B746CB87D2B075AC7EF8863D0E0" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_bottom_750.gif" />
                    </Component>
                    <Component Id="cmp8436C5FE531B8B958CFE760804134844" Guid="*">
                        <File Id="filBDDDDE5A9E4AB88628409580F9DB05DE" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_bottom_780.gif" />
                    </Component>
                    <Component Id="cmp004F7CBADA0D78A96997AB32AE1AE583" Guid="*">
                        <File Id="filF7B1413E77B0E2BD0B7D6FE6F2B98BFB" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_top_250.gif" />
                    </Component>
                    <Component Id="cmpEAFA22CE70A29B6BAF7E97D3C0DC46BA" Guid="*">
                        <File Id="filB56D01C3AE591EBD5B6CCD9703D3B58E" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_top_750.gif" />
                    </Component>
                    <Component Id="cmp19DEFA07A1675F98F642FEABBC717E14" Guid="*">
                        <File Id="fil275C0A1144C4519D531178A00FBF69B2" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\box_top_780.gif" />
                    </Component>
                    <Component Id="cmp460019869CA5619D2586157B6E108C8B" Guid="*">
                        <File Id="fil5417A713B689E2E1750215A596005E50" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\creditcard_amex.gif" />
                    </Component>
                    <Component Id="cmp4F9BE5263BACBD646C1BEC1CA7F1FF15" Guid="*">
                        <File Id="fil1BE88DA503CA1DCE06B373CC13EAC424" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\creditcard_discover.gif" />
                    </Component>
                    <Component Id="cmpCB95BDA6123A449D5EC4F51761CF7738" Guid="*">
                        <File Id="fil83B4A0293E86851D7FD864C178DEC718" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\creditcard_mc.gif" />
                    </Component>
                    <Component Id="cmp36AA906957E1C00816A37C0245E2BE3E" Guid="*">
                        <File Id="fil0E82F1CB222C2D935ADCC1E6CC6EEC27" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\creditcard_visa.gif" />
                    </Component>
                    <Component Id="cmp37E9B377AA50855903765FC0CC22C62A" Guid="*">
                        <File Id="fil2193627C3E8C562FC94919D492E019EF" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\header_bg.png" />
                    </Component>
                    <Component Id="cmpACF6D4881F5645E9B17BAE17A51CCF9A" Guid="*">
                        <File Id="fil0A537769F6306A3C4BC502DF88936C57" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\noaccept.png" />
                    </Component>
                    <Component Id="cmp21FA656BAE92D431A6DAAA12B82F04A1" Guid="*">
                        <File Id="fil17A60F8263B2301770B5795FC39C5F22" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\roundedcornr_151200_bl.png" />
                    </Component>
                    <Component Id="cmp735F0983B8867824BDAFEACFA7529C08" Guid="*">
                        <File Id="fil1BF63F18ED55230117FC0B2D4BD2CA5E" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\roundedcornr_151200_br.png" />
                    </Component>
                    <Component Id="cmp04DF67FDA26CB1C1EF820525D98C37EF" Guid="*">
                        <File Id="fil3480FD6AFEF5542D9FA6A170EBF535F9" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\roundedcornr_151200_r.png" />
                    </Component>
                    <Component Id="cmp3D934918D5CB342A1BB82C0C40562878" Guid="*">
                        <File Id="filB27A16F69794CE0D757E39BA858B9CDB" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\roundedcornr_151200_tl.png" />
                    </Component>
                    <Component Id="cmpDB7D04C4129607226BEB917254F062A3" Guid="*">
                        <File Id="fil36AC078287F6ED76B4F5B9723CABF492" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\roundedcornr_151200_tr.png" />
                    </Component>
                    <Component Id="cmp264C6B54702804607B7D9E1941476C91" Guid="*">
                        <File Id="fil50DB5F46727BEB9A17A044F15E2D326A" KeyPath="yes" Source="$(var.ProjectDir)\App_Themes\images\Thumbs.db" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir3EBAA5FB0FC21A0766C359E526BB06DA" Name="Bin">
                <Component Id="cmp7DCAE65FD47942C3FE2398DAE3CEBF2D" Guid="*">
                    <File Id="filA17D20104D827123CF9516540A054C4B" KeyPath="yes" Source="$(var.ProjectDir)\Bin\AriaRestClient.dll" />
                </Component>
                <Component Id="cmp14FD53D9A159F72207E0862246A7894C" Guid="*">
                    <File Id="fil1048357E7422637984F4AF8126D19B15" KeyPath="yes" Source="$(var.ProjectDir)\Bin\AriaRestClient.pdb" />
                </Component>
                <Component Id="cmp3C537EF5D669BB2B777E98C2918D8BBE" Guid="*">
                    <File Id="fil29775A91822769250550DF4BC9F67AD5" KeyPath="yes" Source="$(var.ProjectDir)\Bin\Newtonsoft.Json.Net35.dll" />
                </Component>
            </Directory>
            <Directory Id="dir417571039CEBDD3DE57E44BCFD8204D5" Name="Properties">
                <Component Id="cmp82885E51D66B322A672A0C15E2F379DF" Guid="*">
                    <File Id="fil1BB3ACB612A697D9D1310F4002B0B88F" KeyPath="yes" Source="$(var.ProjectDir)\Properties\AssemblyInfo.cs" />
                </Component>
            </Directory>
            <Directory Id="dir09D23173970B804D7A49CA47E71E0AA7" Name="_includes">
                <Directory Id="dirC0BD47A4E7FBDE40E2BCF39720B5086B" Name="js">
                    <Component Id="cmp71A6962B11E6E3D2A5FB30318A5E848A" Guid="*">
                        <File Id="filCF38C93F5E892B0D88AC907BDB0B9E12" KeyPath="yes" Source="$(var.ProjectDir)\_includes\js\basic.js" />
                    </Component>
                    <Component Id="cmp78A02A7EA6AD6E1447EF848FD3868C00" Guid="*">
                        <File Id="fil53402D8BADCBCB2E35E148E760DF8390" KeyPath="yes" Source="$(var.ProjectDir)\_includes\js\country.js" />
                    </Component>
                    <Component Id="cmpF22CDC6E90EDC7B2CF44853855B8D2D0" Guid="*">
                        <File Id="fil6F2B6BF5146C27E2A9F3789A2DB13465" KeyPath="yes" Source="$(var.ProjectDir)\_includes\js\form.js" />
                    </Component>
                    <Component Id="cmpF390A5834E29D2E2266CA9A58510C2D4" Guid="*">
                        <File Id="fil1266E22A7161AD88778F3A99587D2923" KeyPath="yes" Source="$(var.ProjectDir)\_includes\js\uss.js" />
                    </Component>
                    <Component Id="cmp613B24C7EFA553C7D26F941153E16600" Guid="*">
                        <File Id="fil0EC8CAC8664DA1FE4FBCF6753FAA7828" KeyPath="yes" Source="$(var.ProjectDir)\_includes\js\validation.js" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="C_CommonAssemblies">
            <ComponentRef Id="cmp0296AC7BAE6FCB2D2B69C4A251C0C12D" />
            <ComponentRef Id="cmp52EAA3398BCEA92DB7FDAAB0A0E1574B" />
            <ComponentRef Id="cmp692BF55900F0FE5B2223D75EDEE10D21" />
            <ComponentRef Id="cmpBB698E6730BACC45E913175B76E0577D" />
            <ComponentRef Id="cmp6699F702FD28D9C131E8D49EE80B0C32" />
            <ComponentRef Id="cmpAAAAC18989224BFFEC9B5620DD8B5AA0" />
            <ComponentRef Id="cmp18C3FAAAEDB3785C8DBC71DE5A83682F" />
            <ComponentRef Id="cmpC9A921FA4623F62656099D36C8F3F4A6" />
            <ComponentRef Id="cmpF62CD54B327FE3A8EE3091E0F3E0DAF9" />
            <ComponentRef Id="cmp3C8BF58B6288BF91F167AA1916A0B817" />
            <ComponentRef Id="cmpAA248860724BE19AE14577968D9157C8" />
            <ComponentRef Id="cmp46E8FD28E3B60A4B2AA77E350D1B2547" />
            <ComponentRef Id="cmpC8C03605E31B9A91B62EB9E7FF77C71F" />
            <ComponentRef Id="cmp7DF79267571CDFCC1064C11840A7BCE8" />
            <ComponentRef Id="cmp55CCE577FA6E73819D46C04BD951411F" />
            <ComponentRef Id="cmp674F1B91194F171A88F994DEBDD78172" />
            <ComponentRef Id="cmp00DD3B2685C9299804D43A1BD9270360" />
            <ComponentRef Id="cmp7C65F777F0950BF90FE4F3D11E2B7F85" />
            <ComponentRef Id="cmp62A4BC433793F7263CC285E8B3A6137C" />
            <ComponentRef Id="cmpA0157F897BC27E2CD6BF610415E875CC" />
            <ComponentRef Id="cmp415F99BE8E80CE9D80F1259B9E24389F" />
            <ComponentRef Id="cmp527421DA57438F37AB23B71B6310AB37" />
            <ComponentRef Id="cmpC38F645C0DA65F7269F24587748D4B5B" />
            <ComponentRef Id="cmpF03F5732910BCE6522E3D844F7AD50BD" />
            <ComponentRef Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" />
            <ComponentRef Id="cmpCFC896C3269C0D124A5AF9F59ECE416A" />
            <ComponentRef Id="cmpA4FA2D91D536224950473E89134A57BD" />
            <ComponentRef Id="cmpCAA1E6F5844D39F9C86BF6313A9DEEDB" />
            <ComponentRef Id="cmp3A39C921961BC158DD30A583FACF9111" />
            <ComponentRef Id="cmpED8B09EA9FDF49CB3C1165BDD8BC926C" />
            <ComponentRef Id="cmpE83DC31D0250BB22AD12CBD1D61A76E7" />
            <ComponentRef Id="cmpA2757F3CECA8969A028A7C47156BE38B" />
            <ComponentRef Id="cmpD61DE23B6C3570055C8D42C9765A22EA" />
            <ComponentRef Id="cmp597DDC96957539188BE8F963F4275BC3" />
            <ComponentRef Id="cmpE2E126DB7FCECB345EFAAC0AE9534314" />
            <ComponentRef Id="cmp8436C5FE531B8B958CFE760804134844" />
            <ComponentRef Id="cmp004F7CBADA0D78A96997AB32AE1AE583" />
            <ComponentRef Id="cmpEAFA22CE70A29B6BAF7E97D3C0DC46BA" />
            <ComponentRef Id="cmp19DEFA07A1675F98F642FEABBC717E14" />
            <ComponentRef Id="cmp460019869CA5619D2586157B6E108C8B" />
            <ComponentRef Id="cmp4F9BE5263BACBD646C1BEC1CA7F1FF15" />
            <ComponentRef Id="cmpCB95BDA6123A449D5EC4F51761CF7738" />
            <ComponentRef Id="cmp36AA906957E1C00816A37C0245E2BE3E" />
            <ComponentRef Id="cmp37E9B377AA50855903765FC0CC22C62A" />
            <ComponentRef Id="cmpACF6D4881F5645E9B17BAE17A51CCF9A" />
            <ComponentRef Id="cmp21FA656BAE92D431A6DAAA12B82F04A1" />
            <ComponentRef Id="cmp735F0983B8867824BDAFEACFA7529C08" />
            <ComponentRef Id="cmp04DF67FDA26CB1C1EF820525D98C37EF" />
            <ComponentRef Id="cmp3D934918D5CB342A1BB82C0C40562878" />
            <ComponentRef Id="cmpDB7D04C4129607226BEB917254F062A3" />
            <ComponentRef Id="cmp264C6B54702804607B7D9E1941476C91" />
            <ComponentRef Id="cmp7DCAE65FD47942C3FE2398DAE3CEBF2D" />
            <ComponentRef Id="cmp14FD53D9A159F72207E0862246A7894C" />
            <ComponentRef Id="cmp3C537EF5D669BB2B777E98C2918D8BBE" />
            <ComponentRef Id="cmp82885E51D66B322A672A0C15E2F379DF" />
            <ComponentRef Id="cmp71A6962B11E6E3D2A5FB30318A5E848A" />
            <ComponentRef Id="cmp78A02A7EA6AD6E1447EF848FD3868C00" />
            <ComponentRef Id="cmpF22CDC6E90EDC7B2CF44853855B8D2D0" />
            <ComponentRef Id="cmpF390A5834E29D2E2266CA9A58510C2D4" />
            <ComponentRef Id="cmp613B24C7EFA553C7D26F941153E16600" />
        </ComponentGroup>
    </Fragment>
</Wix>