<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <!-- Base Page -->

  <object name="basePage" abstract="true">
    <property name="MasterPageFile" value="~/Shared/Site.master" />    
  </object>
  
  <!-- Register New Account Page -->

  <object type="Pages/RegisterNewAccount.aspx" parent="basePage">
    <property name="Presenter" ref="RegisterNewAccountPresenter"/>
  </object>
  
  <object id="RegisterNewAccountPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.RegisterNewAccountPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Plan Info User Control -->

  <object type="Pages/UserControls/PlanInfoUserControl.ascx"  >
    <property name="Presenter" ref="PlanInfoUserControlPresenter"/>
  </object>

  <object id="PlanInfoUserControlPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.PlanInfoUserControlPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Billing Information Page -->

  <object type="Pages/BillingInformation.aspx" parent="basePage">
    <property name="Presenter" ref="BillingInformationPresenter"/>
  </object>

  <object id="BillingInformationPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.BillingInformationPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Products Page -->

  <object type="Pages/Products.aspx" parent="basePage">
    <property name="Presenter" ref="ProductsPresenter"/>
  </object>

  <object id="ProductsPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.ProductsPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Confim Account Information Page -->

  <object type="Pages/ConfirmAccountInformation.aspx" parent="basePage">
    <property name="Presenter" ref="ConfirmAccountInformationPresenter"/>
  </object>

  <object id="ConfirmAccountInformationPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.ConfirmAccountInformationPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Payment Information Page -->

  <object type="Pages/PaymentInfo.aspx" parent="basePage">
    <property name="Presenter" ref="PaymentInfoPresenter"/>
  </object>

  <object id="PaymentInfoPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.PaymentInfoPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

  <!-- Receipt Page -->

  <object type="Pages/Receipt.aspx" parent="basePage">
    <property name="Presenter" ref="ReceiptPresenter"/>
  </object>

  <object id="ReceiptPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.ReceiptPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

</objects>
