<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Future -->
    <add key="aria-client-number" value="" />
    <add key="aria-authorization-key" value="" />
    <add key="valid-account-number" value="1238505" />
    <add key="valid-account-userid" value="dotnetunittester" />
    <add key="valid-account-password" value="dotnettest" />
    <add key="valid-plan-number" value="38004" />
    <add key="valid-plan-service-number" value="38001" />
    <add key="valid-supplemental-plan-number" value="10000264" />
    <add key="valid-promo-code" value="main" />
    <add key="valid-supplemental-field-name" value="IP Last" />
    <!--dotnetunittester dotnet@unittest.com dotnettest -->
  </appSettings>
  <connectionStrings />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="completeBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="completeBinding1" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="integration_servicesBinding">
          <security mode="Transport" />
        </binding>
        <binding name="integration_servicesBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php" binding="basicHttpBinding" bindingConfiguration="completeBinding" contract="Aria.SDK.AriaServices.AriaWebServices.AriaComplete.completePort" name="completePort" />
      <endpoint address="https://secure.future.stage.ariasystems.net/api/AriaQuery/objects.php" binding="basicHttpBinding" bindingConfiguration="integration_servicesBinding" contract="Aria.SDK.AriaServices.AriaWebServices.AriaObjectQuery.integration_servicesPort" name="integration_servicesPort" />
    </client>
  </system.serviceModel>
</configuration>