<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <!-- Base Page -->

  <object name="basePage" abstract="true">
    <property name="MasterPageFile" value="~/Shared/Site.master" />    
  </object>   

  <!-- Register New Account Page -->

  <object type="Pages/RegisterNewAccount.aspx" parent="basePage">
    <property name="Presenter" ref="RegisterNewAccountPresenter"/>
  </object>
  
  <object id="RegisterNewAccountPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.RegisterNewAccountPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>
  
  <!-- Confim Account Information Page -->

  <object type="Pages/ConfirmAccountInformation.aspx" parent="basePage">
    <property name="Presenter" ref="ConfirmAccountInformationPresenter"/>
  </object>

  <object id="ConfirmAccountInformationPresenter" singleton="false" type="Aria.SampleApps.WebClient.Shell.Presenters.ConfirmAccountInformationPresenter, Aria.SampleApps.WebClient.Shell">
    <property name="GeneralServices" ref="GeneralServices"/>
  </object>

</objects>
